body {
  background-color: #000;
  margin: 0;
}

.navbar .titre {
  font-size: 35px;
  color: white;
}

.navbar .titre:hover {
  color: #36BF8D;
}

.navbar .container-fluid .navbar-collapse .listNav li a {
  color: #717275;
  font-size: 20px;
  margin-left: 25px;
}

.navbar .container-fluid .navbar-collapse .listNav li a:hover {
  color: #36BF8D;
}

.navbar .container-fluid .navbar-collapse .reseaux i {
  color: #757272;
}

.navbar .container-fluid .navbar-collapse .reseaux i:hover {
  color: #36BF8D;
}

.cards .contCard .contimg {
  position: relative;
}

.cards .contCard .contimg img {
  height: 780px;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
  z-index: -1;
}

.cards .contCard .contimg img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.cards .contCard .contimg p {
  position: absolute;
  z-index: 0;
  top: 40%;
  left: 45%;
  color: white;
  font-size: 40px;
  text-align: center;
}

.cards .contCard .contimg .archi {
  left: 300px;
}

.cards .contCard .contimg button {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 2;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  padding: 5px 25px;
  text-transform: uppercase;
}

.cards .contCard .contimg button:hover {
  color: #000;
  background-color: #36BF8D;
  border: none;
}

#portrait {
  margin-top: 30px;
}

#portrait h2 {
  font-size: 45px;
}

#portrait .container-fluid .row .col-3 img {
  height: 500px;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
}

#portrait .container-fluid .row .col-3 img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#services h2 {
  font-size: 45px;
}

#services .service .row .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #292828;
  height: 250px;
  width: 800px;
  margin: auto;
}

#services .service .row .card i {
  font-size: 50px;
  padding: 15px 0;
}

#services .service .row .card h4 {
  color: #f3eded;
}

#services .service .row .card p {
  color: #f3eded;
  opacity: 0.6;
}

#services .service .row .card span {
  color: #36BF8D;
}

#about h2 {
  color: #ece8e8;
  margin: 20px 0;
  font-size: 45px;
}

#about .about {
  margin: 0 50px;
}

#about .about .aboutImg img {
  height: 700px;
}

#about .about .aboutText p {
  color: #7e7979;
}

#about .container-fluid .row .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about .container-fluid .row .col-4 img {
  height: 300px;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
}

#about .container-fluid .row .col-4 img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#about .container-fluid .row .col-4 span {
  margin-top: 50px;
  color: #fafafa;
  opacity: 0.6;
}

#contact h2 {
  font-size: 45px;
}

#contact .contact {
  display: flex;
  justify-content: center;
}

#contact .contact .contactCont {
  margin-right: 150px;
}

#contact .contact .contactCont .inputs input {
  border: 1px solid #424242;
  background-color: transparent;
  margin-right: 10px;
  padding-right: 150px;
}

#contact .contact .contactCont p {
  margin-top: 10px;
}

#contact .contact .contactCont input {
  border: 1px solid  #424242;
  background-color: transparent;
  padding-right: 490px;
}

#contact .contact .contactCont .box {
  border: 1px solid  #424242;
  background-color: transparent;
  padding-right: 490px;
  padding-bottom: 200px;
}

#contact .contact .contactCont button {
  border: none;
  margin-top: 15px;
  border-radius: 3px;
  padding: 7px;
  color: #ffffff;
}

.footer p {
  font-size: 17px;
  color: #b9b5b5;
  opacity: 0.6;
}
