#about
    h2
        color: #ece8e8
        margin: 20px 0
        font-size: 45px
    .about
        margin: 0 50px
        .aboutImg
            img
                height: 700px
        .aboutText
            p
                color: #7e7979
    .container-fluid
        .row
            .col-4
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                img
                    height: 300px
                    filter: gray
                    -webkit-filter: grayscale(1)
                    -webkit-transition: all .8s ease-in-out
                img:hover
                    filter: none
                    -webkit-filter: grayscale(0)
                    -webkit-transform: scale(1.01)
                span
                    margin-top: 50px
                    color: #fafafa
                    opacity: 0.6
            